.header{
	background-color: #e8632c;
	width: 100%;
	height: 40px;
	position: relative;
    width: 100vw;
    top: 0px;
    left: -8px;
    color: white;
}
.clock span{
	width: 20px;
	height: 40px;
	font-size: 20px;
	text-align: center;
	float: left;
}
.clock{
	padding: 10px 0;
	margin-left: 200px;
}
.countdown{
	width: 30%;
	float: left;
}
#date{
	width: 60px;
	height: 40px;
	background-color: white;
	float: left;
	margin-left: 25px;
	position: relative;
    top: -10px;
    color: #e8632c;
}
#date_number,#hours_number, #minute_number, #paper_number{
	margin-top: 0px;
	font-size: 25px;
	text-align: center;
}
#date_text, #hours_text, #minute_text, #paper_text{
	font-size: 11px;
	text-align: center;
	position: relative;
    top: -15px;
}
#hours, #minute, #paper{
	margin-left: 1px;
	width: 60px;
	height: 40px;
	background-color: white;
	float: left;
	position: relative;
    top: -10px;
    color: black;
}
.text_header{
	margin-left: 200px;
	height: 40px;
	width: 35%;
	color: blue;
	float: left;
	position: relative;
    top: -24px;
}
a{
	color: white;
	text-decoration: none !important;
	text-align: center;
	margin-top: 10px;
	position: relative;
    top: 13px;
    font-size: 14px;
}


.drash_header{
	color: white;
	position: relative;
    top: 12px;
}
.header_web{
	width: 100%;
	height: 80px;
}
img{
	margin-left: 200px;
	height: 70px;
	width: 14%;
}
.col-xs-8{
	position: relative;
    top: -53px;
}

/*.btn{
	background-color: #e8632c;
} */
.btn-default{
	background-color: #e8632c;
	border: 1px solid #e8632c;
	height: 60px;
	width: 80px;

}
.dropdown-toggle{
	background-color: white;
	border: 1px solid #e8632c;
	height: 60px;

}
.form-control{
	border: 1px solid #e8632c;
	height: 60px;

}